@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --pink: hsl(322, 100%, 66%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  --white: #fff;
}
.wrapper {
  position: relative;
  z-index: 1;
}
.introduction {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--very-pale-cyan);
  background-image: url("./images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  padding: 1rem 0;
  margin-bottom: 5rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
header img {
  width: 7rem;
}
header button {
  width: 7rem;
  padding: 0.4rem;
  border: none;
  border-radius: 25px;
  background-color: var(--white);
  color: var(--very-dark-cyan);
  font-size: 0.8rem;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  box-shadow: 1px 1px 8px var(--grayish-blue);
}
header button:hover{
  color: var(--grayish-blue);
  transform: translateY(-0.2rem);
  transition: all 0.1s ease-in;
  cursor: pointer;
}
.introduction section {
  padding: 1rem;
  margin: 3.5rem 0 1rem 0;
}
.content {
  text-align: center;
}
.content h1 {
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
  color: var(--very-dark-cyan);
}
.content p {
  font-size: 1rem;
  padding: 1.3rem;
  font-family: "Open Sans", sans-serif;
}
.content button {
  width: 16rem;
  border: none;
  font-size: 0.9 rem;
  font-weight: 700;
  background-color: var(--pink);
  color: var(--very-pale-cyan);
  font-family: "Open Sans", sans-serif;
  padding: 0.7rem;
  border-radius: 25px;
  margin: 1rem 0 3.5rem 0;
  cursor: pointer;
}
.content button:hover{
  opacity: 0.83;
  transform: translateY(-0.2rem);
  transition: all 0.1s ease-in;
}
.image {
  margin: 0 auto;
  width: 90%;
}
.image img {
  width: 100%;
  object-fit: contain;
}
.data {
  max-width: 90%;
  border-radius: 10px;
  margin: 3rem auto;
  display: flex;
  gap: 3rem;
  box-shadow: 0 2px 18px var(--grayish-blue);
  padding: 4rem 1rem 3rem;
}
.content-info{
  text-align: center;
  padding: 0 1rem;
}
.content-info h2{
  font-size: 1.3rem;
  margin: 1rem 0;
  color: var(--very-dark-cyan);
  font-family: "Poppins", sans-serif;
}
.content-info p{
  font-size: 0.9rem;
  color: var(--grayish-blue);
  font-family: "Open Sans", sans-serif;
  opacity: 0.8;
}
.illustration {
  width: 85%;
  margin: 0 auto;
}
.illustration img {
  width: 100%;
}
.grow-together,
.your-users,
.flow-conversation {
  flex-direction: column-reverse;
}
.question {
  width: 700px;
  max-width: 93%;
  margin: 2rem auto 0 auto;
  position: absolute;
  top: 104%;
  left: 0.8rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--grayish-blue);
  padding: 2rem 0.7rem 0;
  opacity: 1;
  background-color: var(--white);
}
.question h2 {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  color: var(--very-dark-cyan);
  margin-top: 0.7rem;
  margin-bottom: 1.7rem;
}
.question button {
  padding: 0.8rem 3.5rem;
  font-size: 0.9rem;
  border-radius: 25px;
  border: none;
  background-color: var(--pink);
  color: var(--very-pale-cyan);
  margin-bottom: 3rem;
  font-family: "Open Sans", sans-serif;
  box-shadow: 1px 1px 8px var(--grayish-blue);
  cursor: pointer;
}
.question button:hover{
  opacity: 0.75;
  transform: translateY(-0.2rem);
  transition: all 0.1s ease-in;
}
footer {
  background-color: var(--very-dark-cyan);
  color: var(--very-pale-cyan);
  margin-top: 16rem;
  padding: 8rem 1rem 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer-logo img{
  width: 10rem;
}
.info {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0;
  padding: 0.3rem 0;
}
.location-logo{
  align-self: self-start;
}
.info p{
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}
.about-section ul{
  list-style-type: none;
}
.about-section ul li{
  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
  margin: 0.5rem 0 1rem;
}
.about-section ul li:hover{
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.social-media{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.icon{
 display: flex;
 justify-content: center;
 align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--white);
  border-radius: 50%;
  font-size: 1.2rem;
  cursor: pointer;
}
.icon:hover{
  border-color: var(--pink);
  transition: all 0.1s ease-in-out;
  color: var(--pink);
}
.copyright p{
  text-align: center;
  font-size: 0.8rem;
  font-family: 'Open Sans', sans-serif;
}
@media screen and (width>1170px) {
  body{
    overflow-x: hidden;
  }
  .introduction{
    background-image: url('./images/bg-hero-desktop.svg');
  }
 .data{
  flex-direction: row;
 }
 .question{
  top: 103%;
  left: 25%;
 }
 footer{
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
 }
 .info{
  width: 25rem;
  padding-right:1rem;
 }
 .footer-logo img{
  width: 15rem;
 }
 .about-section{
  display: flex;
  gap: 7rem;
 }
 .social-copyright{
  display: flex;
  flex-direction: column;
 }
 .social-media{
  justify-content: start;
 }
 .copyright p{
  margin-top: 10rem;
 }
 
}


